ï¼Š{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background-color: #ff9a4b;
}

main{
    width: 960px;
    margin: 50px auto;
    display: flex;
    flex-direction:row;
}

.main-item{
    width: 300px;
    background-color:#eeeeee;
    padding: 10px;
    position: relative;
}

.main-item:nth-child(2){
    margin: 0 30px 0 30px;
}

.main-image1{
    height: 150px;
    width: 300px;
    background-image: url(flow01.png);
    background-size: cover;
    background-position: bottom;
}

.main-image2{
    height: 150px;
    width: 300px;
    background-image: url(flow02.png);
    background-size: cover;
    background-position: bottom;
}
.main-image3{
    height: 150px;
    width: 300px;
    background-image: url(flow03.png);
    background-size: cover;
    background-position: bottom;
}

.step-num{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9a4b;
    color:#fff;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}


footer{
    width: 100%;
    height: 50px;
    background-color: #aaaaaa;
}

@media screen and (max-width:768px){
main{
     width: 100%;
     display: block;
}

.main-item{
    width: 90%;
    background-color:#eeeeee;
    position: relative;
}

.main-item:nth-child(2){
    margin:20px 0;
}

.main-image1{
    width: 100%;
}

.main-image2{
    width: 100%;
}

.main-image3{
    width: 100%;
}
}